<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Montserrat:ital,wght@1,500&family=Roboto:wght@500&family=Rubik&family=Secular+One&display=swap" rel="stylesheet">

<div class="container">
  <h1 id="Tittle">Contacts</h1>
  <button id="Login">Iniciar Sesion</button>
  <button id="Regis">Registrarme</button>
 
  <!-- 
  <div id="circulo1"></div>
  <div id="circulo2"></div>

  <img src="./../assets/img/Circulo2.png">
  <img src="./../assets/img/Circulo.png">
  -->
  
</div>  